<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.Support.ItemWebApi.Pipelines.PreprocessRequest.RewriteUrl, Sitecore.Support.94776" patch:instead="*[@type='Sitecore.ItemWebApi.Pipelines.PreprocessRequest.RewriteUrl, Sitecore.ItemWebApi']" />
      </preprocessRequest>
    </pipelines>
    
    <settings>
      <!--  JsonSerialization.MaxLength
				Specifies the maximum length of JSON strings which can be serialized by the JsonSerializer.
				Value is specified in bytes. Default value: 2097152 (2 MB)
		-->
      <setting name="JsonSerialization.MaxLength" value="2097152" />
    </settings>

  </sitecore>
</configuration>